.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  margin-top: 6vh;
  height: 9vh;
  width: 27vw;
  text-align: center;
  font-family: 'Gaegu', cursive;
  font-size: 5vh;
  background-color: transparent;
  border: none;
  border-bottom: 0.23vh solid rgba(0, 0, 0, 0.4);
  color: white;
  text-shadow: -0.1vh 0 0 rgb(0, 0, 0), 0.1vh 0 0 black, 0 -0.1vh 0 rgb(0, 0, 0), 0 0.1vh 0 black, -0.1vh -0.1vh 0 black, 0.1vh 0.1vh 0 black, -0.1vh 0.1vh 0 black, 0.1vh -0.1vh 0 black;
  margin-bottom: 1.7vh;
}

.login::placeholder {
  text-shadow: -0.1vh 0 0 rgb(0, 0, 0), 0.1vh 0 0 black, 0 -0.1vh 0 rgb(0, 0, 0), 0 0.1vh 0 black, -0.1vh -0.1vh 0 black, 0.1vh 0.1vh 0 black, -0.1vh 0.1vh 0 black, 0.1vh -0.1vh 0 black;
  color: white;
}

.login-button {
  width: 7vw;
  background-color: rgb(50, 50, 50);
  border: none;
  color: white;
  border-radius: 1vh;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vh;
}

#clock {
  position: absolute;
  font-size: 3vh;
  right: 1vh;
  color: rgba(0, 0, 0, 0.6);
}